.playersPostContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3cc1b8;
  min-height: 100vh; /* Tüm ekranı kaplasın */
  width: 100%; /* Genişliği tam sayfa yapsın */
  
  background-image: url("../../images/pexels-grizzlybear-399187.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Arka plan sabit kalsın */
  margin: 52px 0; /* Üstten ve alttan boşluk bırakır */
  }
  
  .playerCard {
    background-image: url("../../images/banner-bg.jpg");
    background-size: cover;
    margin: 20px;
  }


