.user{
    background-image: url("../../images/foto1.jpg");
    background-size: cover;
}

.card1{
    background-size: cover;
    margin-top: 60px;
    color: white;
}
.card1 h1, .card1 h2, .card1 p, .card1 span {
    color: rgb(38, 26, 26);
}